---
import Link from "@components/Link.astro";
import ArrowRight from "@icons/ArrowRight.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Portfolio" description="Home Page">
    <section>
        <div>
            <h1>
                <span class="blue-text intro-welcome">Welcome, my name is</span>
                <span class="text-swipe-animation">Ivan.</span>
            </h1>

            <h2 class="intro">
                I create engaging and dynamic web experiences.
            </h2>
        </div>

        <p>
            Frontend Developer specialized in
            <span class="blue-text" translate="no">React</span>
            and
            <span class="blue-text" translate="no">Astro</span>
            frameworks, skilled in crafting dynamic and efficient user interfaces.
        </p>

        <Link href="/projects" button color="blue">
            View Projects <ArrowRight type="line" size="sm" />
        </Link>
    </section>
</Layout>

<style>
    section {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 80%;

        @media (max-width: 868px) {
            width: 100%;
        }
    }

    .intro-welcome {
        font-size: 1rem;
        font-weight: 400;
    }

    .intro {
        font-size: 2.25rem;
        color: var(--text);

        @media (max-width: 870px) {
            font-size: 1.6rem;
        }
    }

    h1 {
        font-size: 3.75rem;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        @media (max-width: 870px) {
            font-size: 3rem;
        }
    }
</style>
