---
import ProjectCard from '../components/ProjectCard.astro'
import { EMAIL_URL } from '../constants/urls'
import Layout from '../layouts/Layout.astro'
import tuneImg from '../assets/images/projects/tune.png'
import mernAuthImg from '../assets/images/projects/mern-auth.png'

const projects = [
  {
    title: 'Tune',
    description: 'A music web application with modern design',
    imageUrl: tuneImg,
    meta: {
      description: 'Developed with the Astro framework to optimize performance by reducing JavaScript overhead. It employs the concept of islands with React for efficient loading of components and resources. Tailwind CSS was used for the layout, offering quick customization of the interface. Global state was managed with Zustand, for efficient data management across the application, complemented by an API route for song fetching.',
      urls: {
        github: 'https://github.com/Iv44n/tune',
        live: 'https://tune-ivan.vercel.app'
      },
      techIcons: [
        'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg',
        'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg',
        'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg',
        'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/astro/astro-original.svg'
      ]
    }
  },
  {
    title: 'Mern Authentication',
    description: 'An example of a MERN stack authentication system',
    imageUrl: mernAuthImg,
    meta: {
      description: 'This project is made with TypeScript and Express.js to handle the API. The database is MongoDB and we use Mongoose to facilitate the work. The authentication is protected with JWT. On the frontend we use React, Axios to do the requests and TanStack React Query to handle the data efficiently. The components come from Shadcn/ui, which makes the interface beautiful and looks good on any device.',
      urls: {
        github: 'https://github.com/Iv44n/mern-auth'
      },
      techIcons: [
        'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg',
        'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg',
        'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg',
        'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg',
        'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg'
      ]
    }
  }

]
---

<Layout title='Ivan - Web Developer'>
  <main class='px-6 py-8 xl:px-28 md:py-12'>

    <section class='sm:max-w-3xl text-left'>
      <h1 class='text-3xl font-semibold leading-snug md:text-5xl'>
        A
        <span class='text-primary-500'>web developer</span>
        passionate about building modern, functional, and user-focused web applications.
      </h1>
      <p class='mt-6 text-lg italic text-gray-300'>
        Based in Lima, Peru
        <span class='mx-2 font-medium text-primary-500'>|</span>
        <a href={EMAIL_URL} class='font-medium text-primary-500 hover:underline'>Open to work</a>
      </p>
    </section>

    <section class='mt-36'>
      <h2 class='text-2xl font-medium mb-6'>
        Here's a selection of some of my works
      </h2>
      <div class='grid grid-cols-1 gap-4 sm:grid-cols-2'>
        {
          projects.map((project) => (
            <ProjectCard
              {...project}
            />
          ))
        }
      </div>
    </section>
  </main>
</Layout>
