@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffeed2;
  --foreground-alt: #b2a898;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-alt: var(--foreground-alt);
  --font-stylistic: var(--font-buda);
  --font-default: var(--font-maven-pro);
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(
      ellipse 140% 50% at 15% 60%,
      rgba(58, 237, 142, 0.11),
      transparent 48%
    ),
    radial-gradient(
      ellipse 90% 80% at 85% 25%,
      rgba(101, 245, 168, 0.09),
      transparent 58%
    ),
    radial-gradient(
      ellipse 120% 65% at 40% 90%,
      rgba(34, 197, 94, 0.13),
      transparent 52%
    ),
    radial-gradient(
      ellipse 100% 45% at 70% 5%,
      rgba(36, 251, 129, 0.07),
      transparent 42%
    ),
    radial-gradient(
      ellipse 80% 75% at 90% 80%,
      rgba(85, 247, 99, 0.1),
      transparent 55%
    ), #000000;
  background-attachment: fixed;
}
