/** biome-ignore-all lint/complexity/noImportantStyles: <> */
@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --foreground-alt: #adadad;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-alt: var(--foreground-alt);
  --font-stylistic: var(--font-chillax);
  --font-default: var(--font-chillax);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: var(--color-foreground) !important;
  transition: background-color 5000s ease-in-out 0s;
}
