---

---

<footer>
    <div>
        <p>
            Made by Ivan. Website source code in
            <a href="https://github.com/Iv44n/iv4n.dev" class="blue-text">GitHub</a>.
        </p>
    </div>
    <div>
        <a href="https://github.com/Iv44n" target="_blank" rel="noopener noreferrer">
            <i class="ri-github-fill icon-medium"></i>
        </a>
        <a href="" target="_blank" rel="noopener noreferrer">
            <i class="ri-linkedin-box-fill icon-medium"></i>
        </a>
        <a href="" target="_blank" rel="noopener noreferrer">
            <i class="ri-instagram-fill icon-medium"></i>
        </a>
    </div>
</footer>

<style>
    footer{
        width: 100%;
        padding-block: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        flex-wrap: wrap;
    }

    footer div:last-child{
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
    }
</style>