<div class='hamburger'>
    <span class='line'></span>
    <span class='line'></span>
    <span class='line'></span>
</div>

<style>
    .hamburger {
        display: none;
    }

    @media (max-width: 970px) {
        .hamburger {
            display: flex;
            flex-direction: column;
            gap: 3.5px;
            align-items: end;
            padding: 4px;
            background: transparent;
            border: none;
            cursor: pointer;
        }

        .hamburger .line {
            height: 2.1px;
            background-color: var(--text-muted);
            border-radius: 100px;
            transition:
                transform 0.8s,
                opacity 0.5s;
        }

        .hamburger .line:nth-child(1) {
            width: 8px;
        }

        .hamburger .line:nth-child(2) {
            width: 18px;
        }

        .hamburger .line:nth-child(3) {
            width: 11px;
        }

        .hamburger.active .line {
            background-color: var(--site-color-600);
        }

        .hamburger.active .line:nth-child(1) {
            transform: translateY(5.6px) rotate(45deg);
            width: 18px;
        }

        .hamburger.active .line:nth-child(2) {
            opacity: 0;
        }

        .hamburger.active .line:nth-child(3) {
            transform: translateY(-5.6px) rotate(-45deg);
            width: 18px;
        }
    }
</style>
