---
import Hamburger from './Hamburger.astro'
import Instagram from '../icons/Instagram.astro'
import Linkedin from '../icons/Linkedin.astro'
import Github from '../icons/Github.astro'

const navLinks = [
  {
    name: 'Home',
    href: '/'
  },
  {
    name: 'About',
    href: '/about'
  },
  {
    name: 'Work',
    href: '/work'
  },
  {
    name: 'Blog',
    href: '/blog'
  },
  {
    name: 'Contact',
    href: '/contact'
  }
]
const socialLinks = [Instagram, Linkedin, Github]
---

<header class='flex justify-between items-center relative px-16 py-4 md:py-6'>
  <div>
    <h1 class='text-4xl font-semibold tracking-wide hover:tracking-tight transition-all duration-300'>
      <a href='/' class='font-merienda text-primary-500'>Ivan</a>
    </h1>
  </div>

  <div
    class='nav-container p-10 fixed top-[-100%] left-0 w-full h-full bg-dark flex flex-wrap items-center md:justify-around transition-all duration-1000 ease-in-out'
    aria-hidden='true'
  >
    <nav class='text-lg w-full md:w-auto'>
      <div>
        <ul class='flex flex-col w-fit items-start text-3xl md:text-5xl gap-16 font-extralight group'>
          {navLinks.map((link, index) => (
            <li class='relative font-merienda transition-all duration-500 ease-in-out group/item hover:text-primary-500'>
              <a
                href={link.href}
                class='peer hover:!opacity-100 group-hover:opacity-30'
              >
                {link.name}
              </a>
              <span
                class='absolute -top-2 -right-4 text-sm opacity-100 group-hover:opacity-0 peer-hover:!opacity-100'
              >
                {`0${index + 1}`}
              </span>
            </li>
          ))}
        </ul>
      </div>
    </nav>

    <div>
      <div class='hidden md:block'>
        <h3 class='text-lg text-neutral-400'>Get in touch</h3>
        <p class='underline text-2xl font-medium'><a href='#'>Send me an email</a></p>
      </div>

      <div class='mt-8 flex flex-col gap-4'>
        <h3 class='text-lg text-neutral-400'>Follow me</h3>
        <ul class='flex gap-6'>
          {
            socialLinks.map((Link) => (
              <li class='w-12 h-12 rounded-full border border-neutral-500 flex items-center justify-center hover:text-primary-500 hover:border-none hover:bg-neutral-500/20 transition-all duration-300'>
                <a href='#'><Link /></a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>

  <div class='z-50'>
    <Hamburger />
  </div>
</header>

<style>
  .nav-container.active {
    top: 0;
  }
</style>

<script>
  const checkbox = document.getElementById('hamburger-toggle') as HTMLInputElement
  const navContainer = document.querySelector('.nav-container') as HTMLElement

  function toggleHamburgerMenu() {
    navContainer.classList.toggle('active', checkbox?.checked)
  }

  checkbox?.addEventListener('change', toggleHamburgerMenu)
</script>
